# ------------------------------------------------------------------------------
# local plugins
# ------------------------------------------------------------------------------


# # dotfiles-<local_plugin_name>
# if [[ ${DOTFILES_PLUGINS["dotfiles-<local_plugin_name>"]} = "true" ]]; then
#     zinit ice wait"2" lucid
#     zinit snippet "${DOTFILES[LOCAL_PLUGIN_DIR]}/<local_plugin_name>/.<local_plugin_name>.plugin.zsh"
# fi
