
if [[ $1 = "" || $1 = "gitlab" ]]; then

    echo "<gitlab-token>" | docker login registry.gitlab.com -u "<gitlab-username>" --password-stdin

fi

if [[ $1 = "" || $1 = "github" ]]; then

    echo "<github-token>" | docker login ghcr.io -u "<github-username>" --password-stdin

fi
