

# ------------------------------------------------------------------------------
#
# Author        :   Tainvecs
# Created Date  :   2016-09-15
# Last Updated  :   2017-03-12
#
# ------------------------------------------------------------------------------


# ------------------------------------------------------------------------------
# Ptt
# ------------------------------------------------------------------------------


 Host ptt
   HostName ptt.cc
   User bbsu
