

# ------------------------------------------------------------------------------
# Setting
# ------------------------------------------------------------------------------


Host *
    IgnoreUnknown AddKeysToAgent,UseKeychain
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_rsa


# ------------------------------------------------------------------------------
# Ptt
# ------------------------------------------------------------------------------


Host ptt
    HostName ptt.cc
    User bbsu
