# ------------------------------------------------------------------------------
# user
# ------------------------------------------------------------------------------


# [user]
#     name         = <user_name>
#     email        = <user_email>


# ------------------------------------------------------------------------------
# theme
# dependency: delta
# ------------------------------------------------------------------------------


[include]
    path         = ./themes.gitconfig

[delta]
    features     = woolly-mammoth
    side-by-side = false

[pager]
    diff         = delta
    log          = delta
    reflog       = delta
    show         = delta

[interactive]
    diffFilter   = delta --color-only --features=interactive


# ------------------------------------------------------------------------------
# misc
# ------------------------------------------------------------------------------


[pull]
    rebase       = false